@model IEnumerable<Models.Contragent>

@{
    Layout = "MainLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Добавить запись</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Наименование")
            </th>
            <th>
                @Html.DisplayName("Страна")
            </th>
            <th>
                @Html.DisplayName("Ген. директор")
            </th>
            <th>
                @Html.DisplayName("Номер телефона")
            </th>
            <th>
                @Html.DisplayName("Адрес")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenDirector)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adres)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редакт.</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
