@model Models.Transp

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Transp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoadCapasity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoadCapasity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Characteristics)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Characteristics)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransportPurpose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransportPurpose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSpecial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSpecial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransportSpecialPurpose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransportSpecialPurpose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayToDriver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayToDriver)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFree)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a>
    <a asp-action="@ViewBag.BackAction" asp-controller="@ViewBag.BackController">Назад</a>
</div>
